body {
    padding-top: 90px;
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    body {
        margin-left: 232px;
    }
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right: auto;
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-left: 0.3em solid;
        border-bottom: 0.3em solid transparent;
        border-right: none;
        vertical-align: baseline;
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}


.sub-card {
    text-decoration: none;
    transition: 0.3s;
}

.sub-card p {
    color: black;

}

.sub-card:hover {
    text-decoration: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    background-color: #e0dddd !important;
    transition-duration: 0.2s !important;

}

.sub-card .card {
    background-color: red;
}

.navbar .navbar-nav a:hover {
    color: black !important;
    font-size: 1.5rem !important;
}


.dark-light {
    background-color: #3663fc;
    color: #ffffff;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode .dark-light,
body.dark-mode .dark-light-card {
    background-color: #673ab7;
}
body.dark-mode	.dark-light-card p{
	color: white !important;
}

body.dark-mode .dark-light-card:hover {
	background-color: #e0dddd !important;
}
body.dark-mode .dark-light-card:hover p {
	color: black !important;
}

body.dark-mode .dark-light-modal{
	color: black !important;
}
