@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.left-box {
    padding: 40px;
    color: #fff;
}

.left-box .featured-image {
    margin-bottom: 20px;
}

.left-box p {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.left-box h4 {
    width: 17rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.right-box .header-text {
    margin-bottom: 20px;
}

.right-box form {
    margin-bottom: 20px;
}

.right-box .error-message {
    margin-bottom: 10px;
}

.right-box .row small {
    margin-top: 10px;
    display: block;
}
