<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Error 404 - Page Not Found!</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/404.css')}}" />
</head>

<body>
	<div class="container">
		<img class="ops" src="{{url_for('static', filename='images/404.svg')}}" />
		<br />
		<h3>This page does not exists!
		</h3>
		<br />
		<a class="buton" href="/home">www.myportal.com</a>
	</div>
</body>

</html>
