<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_grades.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
		const Swal = require('sweetalert2')
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row sticky-top">
			<nav class="navbar bg-body-tertiary bg-dark ">
				<div class="container-fluid">
					<a class="navbar-brand text-light fs-2" href="/subject/{{ code }}/grades">MyPotral Grade System</a>
					<form class="d-flex" enctype="multipart/form-data" action="/subject/{{ code }}/grades/api/upload"
						id="uploadFileForm" method="POST">
						<a class="btn btn-outline-primary p-2 ps-4 pe-4 m-2 text-light"
							href="/subject/{{ code }}/grades/api/download"> Download</a>
						<label for="uploadFile" class="btn btn-outline-info p-2 ps-4 pe-4 m-2 text-light">Upload
							<input type="file" id="uploadFile" name="file" accept=".csv" required class="btn">
						</label>
						<button type="submit" id="submitBtn" style="display: none;">Upload</button>

						<button class="btn btn-outline-warning p-2 ps-4 pe-4 m-2 text-light" onclick="resetPage(event)">
							Reset </button>

						<input class="btn btn-outline-success p-2 ps-4 pe-4 m-2 text-light" type="reset" value="Save"
							id="submitButton">
					</form>
				</div>
			</nav>
		</div>
		<div class="row">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			{% if message == "success"%}
			<script>Swal.fire("Saved!", "", "success");</script>
			{% elif message == "wrongColFormat" %}
			<script>
				Swal.fire({
					icon: "error",
					title: "Invalid File Structure!",
					text: "Please make sure that the file contain a column for Student ID as id and a column for Grades as grade."
				});
				let urlParams = new URLSearchParams(window.location.search);
				urlParams.delete('wrongColFormat');
				let newUrl = window.location.pathname;
				window.history.replaceState({}, document.title, newUrl);
			</script>

			{% elif message == "noErrorSuccess" %}
			<script>
				Swal.fire("Saved!", "", "success");
				urlParams = new URLSearchParams(window.location.search);
				urlParams.delete('wrongColFormat');
				newUrl = window.location.pathname;
				window.history.replaceState({}, document.title, newUrl);
			</script>
			{% else %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}
			<div class="col">
				<div class="container mt-5 text-center">
					<form method="post" id="gradeForm">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Email</th>
									<th>ID</th>
									<th>NAME</th>
									<th>GRADE</th>
								</tr>
							</thead>
							<tbody>
								{% for grade in grades %}
								<tr>
									<td>{{ grade.email }}</td>
									<td>{{ grade.id }}</td>
									<td>{{ grade.name }}</td>
									<td>
										<input type="text" name="grade_{{ grade.id }}" class="form-control text-center"
											value="{{ grade.grade }}">
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</form>
				</div>
			</div>

		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	<script>
		let uploadFile = document.getElementById('uploadFile');
		let submitBtn = document.getElementById('submitBtn');

		uploadFile.addEventListener("change", function ()
		{
			if (isCSVFile(uploadFile.files[0]))
			{
				submitBtn.click();
			} else
			{
				Swal.fire({
					title: "Invalid File",
					text: "Only CSV files is accpeted.",
					icon: "info"
				});
				uploadFile.value = '';
			}
		});


		let form = document.getElementById("gradeForm");
		let submitButton = document.getElementById("submitButton");
		submitButton.addEventListener("click", function ()
		{
			Swal.fire({
				title: "Do you want to save the changes?",
				showDenyButton: true,
				showCancelButton: true,
				confirmButtonText: "Save",
				denyButtonText: `Don't save`
			}).then((result) =>
			{
				if (result.isConfirmed)
				{
					form.submit();
					Swal.fire("Saved!", "", "success");
				} else if (result.isDenied)
				{
					Swal.fire("Changes are not saved", "", "info").then((result) =>
					{
						if (result.isConfirmed || result.dismiss === Swal.DismissReason.close)
						{
							location.reload();
						}
					});;
				}
			});
		});

		function resetPage(event)
		{
			event.preventDefault();
			Swal.fire({
				title: "Reset Done!",
				text: "Changes are not saved",
				icon: "success"
			}).then((result) =>
			{
				if (result.isConfirmed || result.dismiss === Swal.DismissReason.cancel)
				{
					location.reload();
				}
			});
		}
		function isCSVFile(file)
		{
			return file.name.toLowerCase().endsWith(".csv");
		}
	</script>
</body>

</html>