{% extends "base.html"%}
{% block content%}
<section class="container-fluid">
	<div class="row p-1 d-none d-md-flex rounded-end-circle">
		<h1 class="display-5">Welcome, {{ first_name }} <span class="col-3 fs-3" id="dateTime">
			</span>
		</h1>
	</div>
	<div>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		{% if message == 'notAllowed' %}
		<div class="alert alert-{{ category }}">

			<script>
				Swal.fire({
					icon: "error",
					title: "Oh...",
					text: "You are not enrolled in this Subject!",
				});
				let urlParams = new URLSearchParams(window.location.search);
				urlParams.delete('notAllowed');
				let newUrl = window.location.pathname;
				window.history.replaceState({}, document.title, newUrl);
			</script>

		</div>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
	<div class="row p-4">
		{% for sub in subs %}
		<a class="col-1 sub-card m-2 card p-3 dark-light-card border border-5 d-flex align-items-center justify-content-center"
			style="width: 13.5rem; height: 13.5rem;" href="/subject/{{sub.code}}" target="_blank">
			<div class="card rounded mb-3 d-flex align-items-center
						justify-content-center text-light fs-1 fw-bold" style="width: 5rem; height: 5rem; background: {{sub.color}};">
				{{ sub.logo }}
			</div>
			<p class="card-text fs-6 text-center p-0 m-0">{{ sub.name }}</p>
			<p class="card-text fs-6 text-center p-0 m-0">{{ sub.created_date }}</p>
		</a>
		{% endfor %}
		<a class="col-1 sub-card m-2 card p-3 btn btn-primary dark-light-card border border-5 d-flex align-items-center justify-content-center"
			style="width: 13.5rem; height: 13.5rem;" data-bs-toggle="modal" data-bs-target="#addSubjectModal"
			id="myButton">
			<div class="card rounded bg-warning mb-3 d-flex align-items-center
			justify-content-center text-light fs-1 fw-bold" style="width: 5rem; height: 5rem;">
				<i class="bi bi-plus fs-1 fw-bold"></i>
			</div>
		</a>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 dark-light-modal" id="addSubjectModalLabel">Add Subject</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body dark-light-modal">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				{% if message != 'notAllowed' %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endwith%}
				<form method="POST" action="/home" novalidate id="addSubjectForm">
					{{ form.hidden_tag() }}
					{% if role == "student"%}
					<div class="form-group mb-2">
						{{ form.subjectCode.label(class="form-label-control") }}
						{% if form.subjectCode.errors %}
						{{ form.subjectCode(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.subjectCode.errors %}
							<span>{{ error }}</span>
							<script>
								Swal.fire({
									icon: "error",
									title: "Oh...",
									text: "You are not enrolled in this Subject!",
								});
							</script>
							{% endfor %}
						</div>
						{% else %}
						{{ form.subjectCode(class="form-control", id='user-input') }}
						{% endif %}
					</div>
					{% elif role == "teacher"%}
					<div class="form-group mb-2">
						{{ form.subjectName.label(class="form-label-control") }}
						{% if form.subjectName.errors %}
						{{ form.subjectName(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.subjectName.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
						<script> document.getElementById('myButton').click();</script>
						{% else %}
						{{ form.subjectName(class="form-control", id='user-input') }}
						{% endif %}
					</div>
					<div id="email-fields" class="form-group mb-2">
						{% for email in form.emails %}
						{{ email.label(class="form-label-control") }}
						{% if email.errors %}
						{{ email(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in email.errors %}
							<span>{{ error }}</span>

							{% endfor %}
						</div>
						{% else %}
						{{ email(class="form-control") }}
						{% endif %}
						{% endfor %}
					</div>
					<button type="button" onclick="addEmailField()" class="btn btn-primary">Add Secondary
						Teacher</button>
					<br>
					<div id="books-fields" class="form-group mb-2">
						{% for book in form.books %}
						{{ book.label(class="form-label-control") }}
						{% if book.errors %}
						{{ book(class="form-control is-invalid") }}
						<script>$('#addSubjectModal').modal('show')</script>
						<div class="invalid-feedback">
							{% for error in book.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
						{% else %}
						{{ book(class="form-control") }}
						{% endif %}
						{% endfor %}
					</div>
					<button type="button" onclick="addBookField()" class="btn btn-primary">Add Books</button>
					<br>

					{% endif %}
					{% if message %}
					<script>
						Swal.fire({
							title: "Done!",
							text: "Subject Added Successfully!",
							icon: "success"
						});
					</script>
					{{endif}}
					{% endif %}

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
				{{ form.submit(class='btn btn-primary', id='submit-btn', disabled='disabled') }}
			</div>
			</form>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

<script>
	index = 1;
	function addEmailField()
	{
		var container = document.getElementById('email-fields');

		var label = document.createElement('label');
		label.setAttribute('for', `emails-${index}`);
		label.textContent = `#${index} Secondary Teacher Email`;
		label.classList.add('form-label-control');

		var input = document.createElement('input');
		input.setAttribute('id', `emails-${index}`);
		input.setAttribute('name', `emails-${index}`);
		input.setAttribute('required', '');
		input.setAttribute('type', 'text');
		input.setAttribute('value', '');
		input.classList.add('form-control');

		container.appendChild(label);
		container.appendChild(input);
		index += 1;
	}
	index_book = 1;
	function addBookField()
	{
		var container = document.getElementById('books-fields');

		var label = document.createElement('label');
		label.setAttribute('for', `books-${index_book}`);
		label.textContent = `#${index_book} Google Drive Book link:`;
		label.classList.add('form-label-control');

		var input = document.createElement('input');
		input.setAttribute('id', `books-${index_book}`);
		input.setAttribute('name', `books-${index_book}`);
		input.setAttribute('required', '');
		input.setAttribute('type', 'text');
		input.setAttribute('value', '');
		input.classList.add('form-control');

		container.appendChild(label);
		container.appendChild(input);
		index_book += 1;
	}

	document.getElementById('user-input').addEventListener('input', function ()
	{
		var inputValue = this.value.trim();
		var submitBtn = document.getElementById('submit-btn');

		if (inputValue.length > 0)
		{
			submitBtn.removeAttribute('disabled');
		} else
		{
			submitBtn.setAttribute('disabled', 'disabled');
		}
	});
</script>

{% if submit%}

<script>$('#addSubjectModal').modal('show')</script>

{% endif %}


{%endblock content%}
