{% extends "subject.html"%}
{% block subject_page%}
<section class="container-fluid">
    <div class="row ">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="com">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}

                    <tr>
                        <th scope="row">{{ student[0] }}</th>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td id="tl">
                            <form method="POST" action="/subject/{{code}}/students/delete">
                                <input type="hidden" name="student_id" value="{{ student[0] }}">
                                <input type="submit" value="Remove" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{%endblock subject_page%}