{% extends "base.html"%}
{% block content%}

<section class="container-fluid">

	<div class="row sticky-sm-top">
		<nav class="navbar navbar-expand-lg bg-body-tertiary text-light bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand text-light fs-2 " href="/home">MyPortal</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}"> Subject </a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/book">Book</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/chat">General Chat</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/news">Announcement Chat</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/grades">Grades</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Lectures
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Lecture 1</a></li>
								<li><a class="dropdown-item" href="#">Lecture 2</a></li>
								<li><a class="dropdown-item" href="#">Lecture 3</a></li>
								{% if role == "teacher"%}
								<li><a class="dropdown-item" href="#">Add Lecture</a></li>
								{% endif %}
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Quizzes
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Quizzes Room</a></li>
								{% if role == "teacher"%}
								<li><a class="dropdown-item" href="#">Add Quiz</a></li>
								{% endif %}
							</ul>
						</li>
						{% if role == "teacher"%}
						<li class="nav-item">
							<a class="nav-link text-light" href="#">List Students</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		{% if main_page %}
		<div> Main page content here </div>
		{% else %}
		{% block subject_page %}{% endblock %}
		{% endif %}
	</div>
	</div>
</section>


<script src="{{ url_for('static', filename='js/subject.js') }}"></script>

{%endblock content%}
