{% extends "base.html"%}
{% block content%}
<div>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
</div>
<section class="container-fluid">
	<div class="row sticky-sm-top">
		<nav class="navbar navbar-expand-lg bg-body-tertiary text-light bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand text-light fs-2 " href="/home">MyPortal</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}"> Subject </a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/book">Book</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/chat">General Chat</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/news">Announcement Chat</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{code}}/grades">Grades</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Lectures
							</a>
							<ul class="dropdown-menu">
								{% for lec in lecs %}
								<li><a class="dropdown-item" href="/subject/{{ code }}/lecture/{{lec[1]}}">Lecture
										{{lec[0]}}</a></li>
								{% endfor %}
								{% if role == "teacher"%}
								<li><a class="dropdown-item" href="/subject/{{ code }}/add_lecture">Add Lecture</a></li>
								{% endif %}
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Quizzes
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/subject/{{ code }}/quiz_room">Quizzes Room</a></li>
								{% if role == "teacher"%}
								<li><a class="dropdown-item" href="/subject/{{ code }}/add_quiz">Add Quiz</a></li>
								{% endif %}
							</ul>
						</li>
						{% if role == "teacher"%}
						<li class="nav-item">
							<a class="nav-link text-light" href="/subject/{{ code }}/students">List Students</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		{% if main_page %}
		<div class="h-100 col">
			<div class="m-2">
				<div class="text-center">

					{% for lec in lecs %}
					<div class="d-inline-flex m-1">
						<!-- url is true -->
						<a href="/subject/{{ code }}/lecture/{{lec[1]}}"><button
								class="py-3 px-5 btn-outline-primary rounded">Lecture {{lec[0]}}</button></a>
					</div>
					{% endfor %}
					<!-- session	 -->
					{% if role == "teacher" %}
					<div class="d-inline-flex m-1">
						<a href="/subject/{{ code }}/add_lecture"><button
								class="py-3 px-5 btn-outline-primary rounded"><i class="bi bi-plus-lg"></i></button></a>
					</div>
					{% endif %}
				</div>
				<div class="mx-5">
					<hr>
				</div>
				<div class="row">
					<div class="col m-3 text-start">
						<a href="/subject/{{ code }}/grades"><button
								class="py-3 px-5 btn-outline-primary rounded">Grades</button></a>
					</div>
					<div class="col m-3 text-end">
						<a href="/subject/{{ code }}/quiz_room"><button
								class="py-3 px-5 btn-outline-primary rounded">Quizes</button></a>
					</div>
				</div>
				<div class="mx-5">
					<hr>
				</div>
				<div class="row m-3 p-3 text-center bg-light border border-2 border-primary rounded">
					<a href="/subject/{{ code }}/chat">General Chat</a>
				</div>
				<div class="row m-3 p-3 text-center bg-light border border-2 border-primary rounded">
					<a href="/subject/{{ code }}/news">Announcement Chat</a>
				</div>
			</div>
		</div>
		{% else %}
		{% block subject_page %}{% endblock %}
		{% endif %}
	</div>
	</div>
</section>


<script src="{{ url_for('static', filename='js/subject.js') }}"></script>

{%endblock content%}