<!DOCTYPE html>
<html>
<body>

  <h2>Student Information</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST" action="/">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {{ form.firstName.label }} {{ form.firstName }}<br>
    {{ form.middleName.label }} {{ form.middleName }}<br>
    {{ form.lastName.label }} {{ form.lastName }}<br>
    {{ form.email.label }} {{ form.email }}<br>
    {{ form.password.label }} {{ form.password }}<br>
    {{ form.submit }}
  </form>

</body>
</html>
